[user]
  name = Samuel Vaillant
  email = samy-07@live.fr
[color]
  ui = true
[core]
  excludesfile = /Users/ronanpelloux/.gitignore_global
  editor = nano
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  amend = commit --amend
  prune = remote prune origin
  undo = reset HEAD^1 --soft
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
  nbci = shortlog -s -n --all
[push]
  default = simple
