"*":
  "atom-beautify":
    _analyticsUserId: "22c5521c-e18a-4ac2-bdf5-56c49c4e9316"
    general:
      _analyticsUserId: "b65e1e19-06b0-45a0-8ed8-03b23f1b8d6b"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    "atom-ide-find-references": {}
    "atom-ide-outline-view": {}
  "atom-package-deps":
    ignored: []
  "atom-typescript": {}
  "autocomplete-flow": {}
  core:
    customFileTypes:
      "source.css.scss": [
        "css"
      ]
      "source.ini": [
        ".flowconfig"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "github"
      "linter"
      "linter-ui-default"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  docblockr: {}
  editor:
    fontSize: 10
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "074f8494-c93a-40c8-a2ac-34468f293cee"
  "file-icons":
    coloured: false
    onChanges: true
    strategies: {}
    tabPaneIcon: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "flow-ide": {}
  "git-diff": {}
  "language-babel":
    autoIndentJSX: false
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-flow": {}
  "linter-tslint": {}
  "linter-ui-default":
    panelHeight: 244.5
  nuclide:
    "nuclide-diagnostics-ui":
      showDiagnosticTraces: true
    "nuclide-file-tree":
      revealFileOnSwitch: true
      showOpenFiles: false
    "nuclide-flow":
      canUseFlowBin: true
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
    "nuclide-working-sets": {}
    use:
      "nuclide-debugger": false
      "nuclide-file-tree": false
      "nuclide-side-bar": false
      "nuclide-source-control-side-bar": true
      "nuclide-workspace-view-locations": false
      "nuclide-workspace-views": false
  "one-dark-ui": {}
  pigments:
    markerType: "native-underline"
  "prettier-atom":
    formatOnSaveOptions:
      cssScopes: [
        ""
      ]
      enabled: true
      isDisabledIfNotInPackageJson: true
      jsonScopes: [
        ""
      ]
      showInStatusBar: true
    prettierOptions:
      singleQuote: true
      trailingComma: "all"
  "seti-icons": {}
  "tool-bar":
    visible: false
  "tree-view": {}
  welcome:
    showOnStartup: false
".basic.html.text":
  "wrap-guide":
    enabled: false
".elm.source":
  editor:
    autoIndentOnPaste: true
    scrollPastEnd: false
    softWrapAtPreferredLineLength: true
".haskell.source":
  editor:
    tabLength: 4
